wellformdness.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!ELEMENT ville (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT personnes ((personne+))>
<!ELEMENT personne ((ident, adr1, adr2, cp, ville, pays))>
<!ATTLIST personne
	id ID #REQUIRED
>
<!ELEMENT pays (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT ident ((nom, prenom+, datenaiss))>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT cp (#PCDATA)>
<!ELEMENT adr2 (#PCDATA)>
<!ELEMENT adr1 (#PCDATA)>
