faiveley/cvsgen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->

<!ELEMENT intitule (#PCDATA)>
<!ELEMENT formations (formation+)>
<!ELEMENT formation (deb, fin, intitule, diplomes)>
<!ELEMENT fin (#PCDATA)>
<!ELEMENT diplomes (diplome+)>
<!ELEMENT diplome (intitule)>
<!ATTLIST diplome
	obtenu CDATA #REQUIRED
	note (0|1|2|3) #IMPLIED
>
<!ELEMENT dilplomes (diplome*)>
<!ELEMENT deb (#PCDATA)>
<!ELEMENT cvs (cv+,best,selected)>

<!ELEMENT best EMPTY>
<!ATTLIST best 
	idcv IDREF #REQUIRED>
	
<!ELEMENT selected EMPTY>
<!ATTLIST selected 
	idcvs IDREFS #REQUIRED>


<!ELEMENT cv (ident, formations)>
<!ATTLIST cv
	id ID #REQUIRED
>
<!ENTITY euro "&#x20ac;">
<!ENTITY cub "cube3D 20x20">
<!ENTITY cyl "cylindre  20x50">
<!ENTITY % fichierInclusion  SYSTEM "ident.dtd">
%fichierInclusion;
<!ENTITY % ownerName "DESORBAIX">
<!ENTITY % ownerPName "Alexandre">
<!ENTITY owner "%ownerPName; %ownerName;">