faiveley/xsdgen.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="intitule">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="deb"/>
				<xs:element ref="fin"/>
				<xs:element ref="intitule"/>
				<xs:element ref="diplomes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fin">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="diplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="diplome" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="intitule"/>
			</xs:sequence>
			<xs:attribute name="obtenu" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dilplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="diplome" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="deb">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="formations"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="pnom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="permis">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="langue">
		<xs:complexType>
			<xs:attribute name="ecrit" type="xs:anySimpleType"/>
			<xs:attribute name="langName" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="lu" use="required" type="xs:anySimpleType"/>
			<xs:attribute name="parle" type="xs:anySimpleType"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="tel">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="mail">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="fixe">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="pnom" maxOccurs="3"/>
				<xs:choice maxOccurs="unbounded">
					<xs:sequence>
						<xs:element ref="tel"/>
						<xs:element ref="fixe"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="tel"/>
						<xs:element ref="mail"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="langues"/>
				<xs:element ref="permis"/>
				<xs:element ref="datenaiss"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
