xsl/xml/facturationtransfert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿champix (champix) -->
<!-- W3C Schema generated by XMLSpy v2018 rel. 2 sp1 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="avgNbUnitFacture">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="refproduits" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="facturation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="statFile" minOccurs="0"/>
				<xs:element ref="stat-factures"/>
			</xs:sequence>
			<xs:attribute name="dateTransfert" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="facture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prixAvgArticle"/>
				<xs:element ref="ligneAvg"/>
				<xs:element ref="nbLignes"/>
			</xs:sequence>
			<xs:attribute name="stat-numfacture" type="xs:integer" use="required"/>
			<xs:attribute name="stat-type" type="xs:string" use="required"/>
			<xs:attribute name="idfacture" type="xs:byte" use="required"/>
			<xs:attribute name="nomClient" type="xs:string" use="required"/>
			<xs:attribute name="stat-datefacture" type="xs:date" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="stat-factures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facture" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="facturesStat">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="avgNbUnitFacture"/>
				<xs:element ref="ligneAvgFact"/>
				<xs:element ref="nbLignesFact"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ligneAvg" type="xs:decimal"/>
	<xs:element name="ligneAvgFact" type="xs:decimal"/>
	<xs:element name="nbLignes" type="xs:byte"/>
	<xs:element name="nbLignesFact" type="xs:byte"/>
	<xs:element name="prixAvgArticle">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="refproduits" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="statFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facturesStat"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
